CD/
ciktiAl/
resmiEvraklar/
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.log
*.synctex.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.snm
*.synctex(busy)
*.synctex.gz(busy)
*.nav
*.vrb
*Notes.bib
*.sav.tmp
*.bib.bak
*.unison.tmp
